.polaroid {
	width: 87%;
	background-color: #fff;
	box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.25);
	margin: 5rem auto;
	border-radius: 13px;
}

.text-container {
	text-align: left;
	padding: 10px 20px;
}

.item-image {
	border-radius: 1rem 1rem 0 0;
	overflow: hidden;
}

.btn-container {
	padding: 5px 5px;
}

.text-container h3 {
	font-weight: 700;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 0.06em;
	color: #000000;
}

.text-container p {
	white-space: pre-line;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.06em;
	color: #000000;
}

.heading-btn__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.paragraph-btn__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.btn-image-signal {
	width: 25px;
	height: 25px;
}

.btn-image-rectangle {
	width: 15px;
	height: 18px;
}

#specialBtn-Signal {
	width: 3rem;
	height: 3rem;
}

#specialBtn-Rectangle {
	width: 3rem;
	height: 3rem;
}

@media screen and (max-width: 768px) {
	.text-container h3 {
		font-size: 33px;
		line-height: 28px;
	}

	.text-container p {
		font-size: 13px;
		line-height: 20px;
	}

	.vr {
		visibility: hidden;
	}

	.card-btns {
		justify-content: space-between;
	}

	.btn-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.btn-image {
		width: 28px;
		height: 28px;
	}

	.heading-btn__container,
	.paragraph-btn__container {
		justify-content: space-between;
	}

	#specialBtn-Signal {
		width: 4rem;
		height: 4rem;
	}

	#specialBtn-Rectangle {
		width: 4rem;
		height: 4rem;
	}

	.image-slider {
		height: 300px !important;
		width: 225px !important;
		overflow-y: hidden;
		overflow-x: hidden;
	}

	.gallery-container h4 {
		font-size: 25px;
		line-height: 30px;
	}
}
