.body {
	height: 100vh;
	background: linear-gradient(
		308.45deg,
		rgba(163, 203, 251, 0.252) -48.78%,
		rgba(54, 127, 178, 0.236) -48.77%,
		rgba(15, 66, 117, 0.4) 28.12%
	);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}

.image {
	padding: 2rem 1rem;
	margin-top: 10rem;
	margin-left: 4rem;
	margin-bottom: 5rem;
	margin-right: 3rem;
	overflow: hidden;
}

.choices {
	display: grid;
	align-content: center;
	padding-left: 5rem;
}

.page_one-items {
	display: grid;
	grid-template-columns: auto;
	gap: 6rem;
	padding: 9rem 0 15px;
}

.btns-container {
	display: inline-block;
}

.page_one-items h2 {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 54px;
	letter-spacing: 0.06em;
	color: #ffffff;
}

.btns-container input[type="radio"] {
	display: none;
}

.btns-container input[type="radio"] + label {
	display: inline-block;
	vertical-align: middle;
	height: 2.5rem;
	width: 6.75rem;
	padding: 7px 28px;
	margin: 4px 4px;
	border: 2px solid #fff;
	border-radius: 10px;
	background: transparent;
	color: #fff;
	cursor: pointer;
	text-align: center;
}

.btns-container input[type="radio"]:checked + label {
	background-color: #367fb2;
	color: #fff;
}

@media screen and (max-width: 768px) {
	.body {
		display: block;
		overflow-x: hidden;
	}

	.image {
		display: inline-flex;
		margin: 4rem 2rem 2rem 1.5rem;
		padding: 2rem 2rem 1rem 1.25rem;
		overflow: hidden;
	}

	.image-mobile {
		width: 300px;
		height: 300px;
	}

	.choices {
		display: flex;
		flex-direction: column;
		padding: 0 39px 0;
	}

	.page_one-items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 7px;
		margin: 7px;
		gap: 0;
	}

	.btns-container {
		display: inline-flex;
	}

	.page_one-items h2 {
		font-size: 20px;
		line-height: 8px;
		margin: 4px;
		padding: 2px;
	}

	.btns-container input[type="radio"] + label {
		height: 2.75rem;
		width: 5rem;
		padding: 10px 10px;
		margin: 4px 4px;
	}
}
